<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#" >Mes supers restaurants</a>
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Main button</button>
  </form>
</nav>
